.about{
    background-color: rgb(212, 212, 212);
    font-size: 1.7rem;
    .heading-primary{
        text-align: center;
        position: relative;
        padding:1rem;
        text-transform: uppercase;
        color:$overlay-color;
        &:after{
            content: " ";
            height:3px;
            width:10%;
            position:absolute;
            bottom:0;
            left:45%;
            background-color:$overlay-color;
        }
    }
    .bio{
        position: relative;
        background-color: rgb(212, 212, 212);
        .bio-image{
            height:20rem;
            background-image: url(../images/suit_photo.jpg);
            background-size:cover;
            width:20rem;
            border:.8rem solid $color-gray;
            box-shadow: .2rem .3rem 1rem rgba(#000, .7);
        }
        .bio-description{
            @include sideBarGradient();
            border-bottom:1.1rem solid $color-gray;
            color:$color-gray;
            width:65%;
            position: absolute;
            right:0;
            top:0;
            padding:1.3rem;
            border-radius:2rem;
            box-shadow: .2rem .3rem 1rem rgba(#000, .7);
        }
        
    }
    // SUBSECTION
    .skills{
        &__summary{
            background-image: linear-gradient(to right, rgba(65,67,60,.9), rgba(35,37,38,0.9)),url(../images/coding_svg.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position:top;
            font-size: 1.6rem;
            color:$color-light-gray;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
            box-shadow: .2rem .3rem 2.5rem rgba(#000, .7);
            .development{
                padding: 3rem;
                &__skills{
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    .dev-skill{
                        width: 8rem;
                        height: 8rem;
                        border: .5rem solid $color-gray;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i{
                            font-size: 3rem;
                        }
                        
                    }
                }
            }
            .databases{
                padding: 3rem;
                &__skills{
                    display: flex;
                    width: 100%;
                    justify-content: space-around;

                    .databases__skill{
                        width: 9rem;
                        height: 9rem;
                        border: .5rem solid $color-gray;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }
                }


            }
            .soft{
                padding: 4rem;
                &__skills{
                    list-style: circle;
                }
            }
        }      
    }
    .popup-button{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 12rem;
        #toggle-button{
            position: relative;
            background-color: $color-light-gray;
            color: #000000;
            padding: 1rem;
            z-index: 1;
            border:.3rem solid $overlay-color;
            border-radius: .3rem;
            a {
                color:inherit;
                &:hover{
                    text-decoration: none;
                    color:$color-light-gray;
                }
            }
            &:after{
                content: ' ';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 0;
                z-index: -1;
                background-color:$overlay-color;
                transition: all .4s ease-in-out;
            }
            &:hover{
                color:$color-light-gray;
            }
            &:hover:after{
                height: 100%;
            }
        }
    }
}