@keyframes animatedButton{
    0%{
        opacity:0;
        transform:translateY(45px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes nameAnimation{
    0%{
        opacity:0;
        transform:translateX(-20px);
    }
    100%{
        opacity:1;
        transform:translateX(0px);
        
    }
}
@keyframes slideDown{
    0%{
        opacity: 0;
        transform:translateY(-2rem);

    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp{
    0%{
        opacity: 0;
        margin-top: 3rem;

    }
    100%{
        opacity: 1;
        margin-top: 1rem;
    }
}
@keyframes appear{
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}
@keyframes textAni{
    0%{
        opacity:0;
        transform:translateX(20px);
    }
    80%{
        opacity:1;
        transform:rotateX(45deg);
    }
    100%{
        opacity:1;
        transform:translate(0);
    }
}

//first section animations:SOCIALS
//instagram
@keyframes instaMoveLeft{
    0%{
        opacity:0;
        transform:translateX(5rem);
    }
    100%{
        opacity:1;
        transform:translate(0);
    }

}
@keyframes gitMoveLeft{
    0%{
        opacity:0;
        transform:translateX(5rem);
    }
    100%{
        opacity:1;
        transform:translate(0);
    }

}

@keyframes linkMoveLeft{
    0%{
        opacity:0;
        transform:translateX(5rem);
    }
    100%{
        opacity:1;
        transform:translate(0);
    }

}
@keyframes faceBMoveLeft{
    0%{
        opacity:0;
        transform:translateX(5rem);
    }
    100%{
        opacity:1;
        transform:translate(0);
    }

}
// PROJECT LINKS
@keyframes boxMoveLeft{
    0%{
        opacity:0;
        transform:translateX(7rem);
    }
    100%{
        opacity:1;
        transform:translate(0);
    }

}

@keyframes boxMoveRight{
    0%{
        opacity:0;
        transform:translateX(7rem);
    }
    100%{
        opacity:1;
        transform:translate(0);
    }

} 

